# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vs/
node_modules
dist
dist-ssr
*.local

deliverymanager.client/.env.production
deliverymanager.client/.env.development

deliverymanager.client/package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# application images
DeliveryManager.Server/wwwroot/uploads

#General_Notes.md
image.png
.vscode
DeliveryManager.Server/obj
deliverymanager.client/src/Components/DriverList.jsx
deliverymanager.client/obj
DeliveryManager.Server/bin
DeliveryManager.Server/obj
README_Assets/~deliverymanager_ui~ahvlq7.idlk
README_Assets/DeliveryManager_UI_02.png
README_Assets/DeliveryManager_UI_01.png
#server_files
Deployment_Resources/server_files

deliverymanager.client/localhost+2-key.pem
deliverymanager.client/localhost+2.pem