:root {
    --primary-color: #5A89BB;
    --action-color: #e0eaf3;
}

.App {
    color: #353535;
    background-color: white;
    text-align: center;
    font-family: 'Verdana', Verdana, Geneva, Tahoma, sans-serif;
}

.weak {
    font-weight: lighter;
    margin: 0;
}

/*
#webpage {
    margin: 60px 0;
}
*/

h2 {
    margin: 1em 0;
}

h3 {
    margin: 0.75em 0;
}

h4 {
    margin: 0.75em 0;
}

hr {
    margin: 0;
}

body {
    margin: 0;
    background-color: white;
}

header h1, header h2, header h3, header h4, header h5 {
    /*margin: 2.5% 4%;*/
    margin: 1% 4%;
    display: flex;
    align-items: start;
}

/*
img {
    font-size: smaller;
    display:flex;
}*/

thead {
    font-size: 0.85em;
    /*border-bottom: 1px solid black;*/
}

.col1 {
    width: 8%;
}
.col2 {
    width: 12%;
}
.col3 {
    width: 15%;
}
.col4 {
    width: 20%;
}
.col5 {
    width: 20%;
}
.col6 {
    width: 10%;
}
.col7 {
    width: 15%;
}

.SPM_Col h4, .SPM_Col h5 {
    margin: 0 20px;
    display: flex;
    align-items: start;
}

#AccountTab {
    display: flex;
    align-items: center;
    /*padding: 2.5% 4%;*/
    padding: 1% 4%;
    justify-content: space-between;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
    box-shadow: 0px 3px 4px #00000020;
    /*background-color: #e0eaf3;*/
}

#sticky_MDPU {
    display: flex;
    justify-content: start;
    width: 60%;
    gap: 1%;
}
#sticky_MDPU .weak {
    margin-right: 3%;
}
#sticky_MDPU h4 {
    margin: 0 0% 0 0 ;
}
#sticky_MDPU div {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1%;
}

#sticky_creds {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#MDPU_Row {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}

#MDPU_Row h3 span {
    padding-left: 5px;
}

#popupLogoutInner {
    display: flex;
    flex-direction: column;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popupSignature {
    margin: 12.5% 25% 0;
    padding: 5px 20px;
    background: #fff;
    border-radius: 5px;
    width: auto;
    position: relative;
    transition: all 1s ease-in-out;
}
.popupSignature .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
#popupExit {
    display: flex;
    justify-content: flex-end;
}
#popupExit h1 {
    margin: 1% 1%;
}

#popupLogoutWindow {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.popupLogout {
    margin: 70px auto;
    padding: 5px 20px;
    background: #fff;
    border-radius: 5px;
    width: 300px;
    position: relative;
    transition: all 5s ease-in-out;
}

    .popupLogout .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popupLogout .close:hover {
            color: #06D85F;
        }

    .popupLogout .content {
        max-height: 30%;
        overflow: auto;
    }

    .popupLogout h1 {
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .popupLogout p {
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0.75em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

#popupLogoutPrompt {
    display: flex;
    justify-content: center;
}

#popupLoginWindow {
    transition: all 0.75s ease-in-out;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

#popupWindow {
    transition: all 0.75s ease-in-out;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
 
#popupEditWindow, 
#popupAddWindow {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.75s ease-in-out;
}

.popupLogin, .popup {
    margin: 25% auto;
    padding: 5px 20px;
    background: #fff;
    border-radius: 5px;
    width: 25%;
    position: relative;
    transition: all 1s ease-in-out;
}

    .popupLogin .close, .popupLogin .close_add, .popupLogin .edit_add {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

    .popupLogin .content {
        max-height: 30%;
        overflow: auto;
    }

    .popupLogin h1 {
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0.25em;
        margin-inline-start: 0;
        margin-inline-end: 15px;
    }

    .popupLogin p {
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0.75em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .popupLogin label {
        font-size: smaller;
    }

#popupLoginPrompt {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

.popupLoginContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popupLoginContent div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.popupLoginContent input, .popupLoginContent label {
    width: 80%;
    text-align: start;
}

#popupLoginInner {
    text-align: center;
    margin-top: 0.5em;
}

#popupLoginInner button {
    height: 2em;
    width: 60%;
}

#widgetHeader {
    display: block;
    text-align: center;
    /*margin: 16px 1em 0 1em;
    margin: 5% 30% 0 30%;*/
    margin: 10% 20% 0 20%;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-radius: 5px 5px 0 0;
    background-color: #5A89BB;
    color: white;
}

.prompt {
    display: block;
    padding: 8px 0;
}

#widgetHeader h4 {
    margin: 0;
}

.TCS_title {
    display: flex;
    align-items: start;
    text-align: left;
    font-size: 0.75em;
}

#UserWidget {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
    height: 30px;
}

#UserWidget p {
    margin-bottom: 1.2em;
}

#UserIcon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.separator_top {
    /*border-bottom: 1px solid #5A89BB;
    line-height: 0.1em;
    margin: 0 10px;*/
    margin: 0 1%;
    padding: 10px 0 10px 0;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-radius: 5px 5px 0 0;
    background-color: #5A89BB;
    color: white;

    position: fixed;
    width: 94%;
}
.separator_bottom {
    /*border-bottom: 1px solid #5A89BB;
    line-height: 0.1em;
    margin: 0 10px;*/
    margin: 0 1%;
    padding: 10px 0 10px 0;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-radius: 5px 5px 0 0;
    background-color: #5A89BB;
    color: white;
}

table {
    /*margin: 0 10px 10px 10px;*/
    margin: 0 2% 2%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    border: solid 1px black;
    width: 96%;
    max-width: 1400px;
}

tbody {
    font-size: 0.75em;
}
tbody tr:nth-child(odd) {
    background-color: #e0eaf3;
}

td, th {
    padding: 1%;
    overflow: hidden;
}

#Delivery_Input_Div {
    /*margin: 0 1em;*/
    margin: 0 20% 5%;
    border: solid 1px black;
    border-radius: 0 0 5px 5px;
    background-color: #e0eaf3;
}

    #Delivery_Input_Div button {
        margin: 0 0 1.5em 0;
        padding: 0.75em 0;
        width: 40%;
        height: 3em;
    }

#Logout button,
#Return button {
    height: 2em;
    width: 70px;
}

#Return {
    margin-right: 0.5em;
}

#nav-buttons {
    display: flex;
    flex-direction: row;
}

#admin_div {
    margin: 0 20% 5%;
    padding: 1em 0;
    border: solid 1px black;
    border-radius: 0 0 5px 5px;
    background-color: #e0eaf3;
}

#admin_div button {
    margin: 1em 5%;
    min-height: 3em;
    width: 50%;
}

#Delivery_Login_Div {
    /*margin: 0 1em;*/
    margin: 0 20% 5%;
    border: solid 1px black;
    border-radius: 0 0 5px 5px;
    background-color: #e0eaf3;
}

    #Delivery_Login_Div button {
        margin: 1em 5%;
        width: 30%;
        height: 2em;
    }

#loginForm {
    margin: 16px 0 0 0;
}

    #loginForm div {
        display: flex;
        flex-direction: column;
        padding: 0 30% 1em 30%;
    }

    #loginForm label {
        display: flex;
        align-items: flex-start;
    }

#SPM_Row {
    display: flex;
    justify-content: space-between;
    margin: 1em 20% 0;
    padding: 0.5em 5%;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-radius: 5px 5px 0 0;
    background-color: #5A89BB;
    color: white;
}

.SPM_Col {
    padding: 4px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#datetime_Div {
    display: flex;
    align-items: flex-end;
    padding: 1em 10% 1em 10%;
    justify-content: space-between;
}

    #datetime_Div div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #datetime_Div label {
        display: block;
        /*margin-bottom: 0.1em;*/
    }

    #datetime_Div input {
        width: 100%;
    }

#pis_Div {
    display: flex;
    align-items: flex-end;
    padding: 0 10% 1em 10%;
    justify-content: space-between;
    flex-wrap: wrap;
}

    #pis_Div div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

#img_Div {
    display: flex;
    align-items: normal;
    padding: 0 10% 0 10%;
    justify-content: space-between;
    flex-wrap: wrap;
}

    #img_Div div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.5em;
    }

#dlvdpcs {
    /*width: 6em;*/
}

#notes_Div {
    padding: 0 10% 1em 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

    #notes_Div input {
        width: 100%;
    }

#print_div {
    padding: 0 10% 1.5em 10%;
}

#button_div {
    margin: 0.5em 0;
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.invalid_input {
    border: solid 1.5px red;
    border-radius: 3px; 
    background-color: #ffdddd;
}

label {
    margin-bottom: 5px;
}

.image_confirmation {
    font-weight: bold;
    font-size: 0.7em;
    margin-block-start: 5px;
    margin-block-end: 0;
}

input {
    height: 2em;
    width: 100%;
    /*background-color: white;*/
    border: 1px solid black;
    border-radius: 5px;
}

input:disabled {
    border: 1px solid #0000006b;
}

.input_image {
    background-color: #e0eaf3;
    border: none;
    border-radius: 0;
    padding: 0;
    margin-bottom: 1em;
}

.cont_left {
    width: 54%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cont_right {
    width: 34%;
}

.delivered_items {
    color: #00000085;
}

.delivered {
    color: #00000085;
}

#img_sig_div,
#img_loc_div {
    /*min-width: 34%;*/
    width: 47.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#img_Div_Loc, 
#img_Div_Sign {
    width: 100%;
    height: 8em;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.thumbnail,
#signatureThumbnail,
#locationThumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background-color: white;
    opacity: 100%;
}

.thumbnail_label {
    margin-top: 1em;
}

#Header {
    margin: 0 0 1%;
    position: sticky;
    top: 0;
    background-color: white;
}

#buffer {
    height: 20px;
    background-color: white;
}

.table_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title_row {
    display: table-row;
    vertical-align: inherit;
    font-size: 1.25em;
    color: white;
    background-color: #5A89BB;
    border: 1px solid black;
    border-radius: 5px 0;
}

.Table_Separator {
    font-size: large;
}

.Table_Body:hover {
    background-color: #f3e0c1;
}

.sigCanvas {
    border: 1px solid black;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
}

#sigDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sigDiv canvas {
    width: 98%;
    height: 15em;
}
#sigDiv button {
    margin: 3% 0 2%;
    padding: 0.75em 0;
    width: 27%;
}
#sigDiv div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15%;
}

#signature_Div {
    margin: 0 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type="file"]::file-selector-button {
    border: 1px solid black;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    transition: 1s;
}

input[type="file"] {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: smaller;
}

#signatureToggle, #locationToggle {
    margin: 0 !important;
    height: auto !important;
    width: auto !important;
    border: 1px solid black;
    padding: 0.2em 0.4em !important;
    border-radius: 0.2em;
    transition: 1s;
}
/*
#sigCapture, #locCapture {
    flex-direction: row !important;
    align-items: center !important;
    height: auto !important
}

#sigCapture p, #locCapture p {
    margin: 0 0 0 5px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: smaller;
}*/

.file_upload_widget {
    display: flex;
    padding: 5% 0;
    margin-right: 5%;
    width: 100%;
    /*border: 2px dashed #5A89BB;*/
    border: 1px solid black;
    border-radius: 5px;
    align-items: center !important;
    justify-content: center;
    background-color: white;
    font-size: small;
}
.file_upload_widget p {
    margin-block: 2% 0;
}

#fileUploadLogo {
    height: 5em;
    width: 5em;
}

.sticky_header {
    width: 100%;
}

.sticky_header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sticky_header div h1 {
    margin: 0 0 1% 4%;
}
.sticky_header div h2 {
    margin: 0 0 1% 1%;
}

#title_div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0 0 1% 4%;
}
#title_div h4 {
    margin: 0 8px 0 0;
}

#collapseToggle {
    width: 10%;
    height: 10px;
    padding-bottom: 2px;
    font-size: x-small;
    background-color:#e0eaf3;
    border: 1px solid gray;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 45%;
    bottom: 0;
    z-index: 10;
    transition: all 2s ease-in-out;
}

#collapseToggle img {
    width: 25%;
    padding-top: 2px;
}

#success, #fail {
    width: 50%;
    margin-bottom: 1em;
}

#scroll_footer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

#footer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    z-index: -1;
}

#footer_text {
    font-size: 0.65em;
    margin-block: 4%;
    margin-inline: 4%;
}

#new_user {
    color:#5A89BB;
    text-decoration: underline;
}

#new_user:hover {
    color:#2866a8;
}

#admin_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#admin_div button {
    max-width: 300px;
}

.popup_button {
    min-height: 2em;
    width: 40%;
    max-width: 300px;
}

.input_wrapper {
    position: relative;
}

.fail_flag {
    width: auto !important;
    display: none !important;
    overflow: visible;
    position: absolute;
    top: 110%;
    left: auto;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    padding: 10px 4px;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.fail_flag::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 20%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f8d7da transparent;
    z-index: 11;
}
.fail_flag.visible {
    display: flex !important;
}
.fail_flag p {
    margin: 0;
    font-size: small;
}
#ff_login_un, #ff_login_pw {
    padding: 10px 4px !important;
    top: 90%;
    left: auto;
}
#ff_admin_df_pd {
    right: 0;
}
#ff_admin_df_pd::before {
    left: 80%;
}

#mdpu-subheader {
    margin: 0 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mdpu-subheader-div {
    display: flex;
    align-items: center;
    gap: 0.25em;
}
.mdpu-subheader-div h4 {
    margin: 0 0 0.5em 0 !important;
}


/*@media only screen and (max-width:900px) {*/
@media only screen and (max-width:630px) {
    #collapseToggle {
        width: 15%;
        left: 42.5%;
    }
    
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.1em;
    }

    h3 {
        font-size: 0.9em;
    }

    h4 {
        font-size: 0.75em;
    }

    h5 {
        font-size: 0.75em;
        display: block;
        margin-block-start: 1.33em;
        margin-block-end: 1.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    label {
        font-size: 0.75em;
    }

    thead {
        font-size: 0.75em;
        /*color: #5A89BB;*/
        border-bottom: 1px solid black;
    }

    tbody {
        border-top: 1px solid #5A89BB;
        font-size: 0.75em;
    }

    td, th {
        padding: 2%;
        overflow: hidden;
    }

    .col1 {
        width: 8%;
        overflow: visible;
    }
    .col2 {
        width: 20%;
    }
    .col3 {
        width: 30%;
    }
    .col4 {
        width: 30%;
    }

    .desktop_table {
        display: none;
    }

    #MDPU_Row {
        padding: 0;
        margin: 0 4% 1em;
    }

    #SPM_Row {
        margin: 1em 2% 0;
    }

    #Return {
        margin-right: 0;
    }

    #nav-buttons {
        gap: 5%;
    }

    #UserWidget {
        height: 20px;
        flex-direction: row;
        margin-right: 0.5em;
    }

    #UserWidget p {
        font-size: 0.85em;
    }

    #UserIcon {
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }

    .popupLogout {
        width: 50%;
    }
    .popupLogin {
        margin: 50% auto;
        width: 50%;
    }
    .popupLogin label {
        font-size: medium;
    }

    .cont_left {
        width: 60%;
    }

    #button_div {
        margin: 10% 0 6%;
        align-items: center;
    }

    #Delivery_Input_Div {
        margin: 0 2% 2%;
    }

    #Delivery_Input_Div button {
        padding: 0;
        height: 3em;
        margin: 0 2%;
    }

    #loginForm div {
        padding: 0 25% 1em 25%;
    }

    /*#img_Div {
        align-items: center;
    }*/

    .Table_Separator {
        font-size: medium;
    }

    #print_div {
        padding: 0 10% 0 10%;
    }

    #title_div {
        flex-direction: row;
        margin: 0 0 2% 4%;
    }
    #title_dash {
        display: none;
    }
    
    .sticky_header div{
        flex-direction: column;
        align-items: flex-start;
    }
    .sticky_header div h1 {
        margin: 0 0 2% 4%;
    }
    .sticky_header div h2 {
        margin: 0 0 2% 4%;
    }

    #AccountTab {
        flex-direction: row;
    }

    #sticky_MDPU {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 5%;
    }
    #sticky_MDPU div {
        flex-direction: column;
    }

    #sticky_creds {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #Header {
        margin: 0 0 2%;
    }

    #buffer {
        height: 60px;
    }

    .popupSignatureWindow {
        width: 100%;
    }
    .popupSignature {
        width: 90%;
        margin: 50% 3% 0;
        padding: 0 2%;
    }
    .popupSignature .close {
        padding: 0 2%;
    }
    #sigDiv button {
        padding: 0;
        width: 30%;
        height: 3em;
    }

    #fileUploadLogo {
        height: 3em;
        width: 3em;
    }

    .popup_button {
        min-height: 2em;
        width: 60%;
        max-width: 300px;
    }
}

@media only screen and (min-width: 630px) {  
    .fail_flag p {
        font-size: smaller;
    }      
    thead {
        font-size: 0.75em;
    }
    tbody {
        font-size: 0.75em;
    }
    
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.25em;
    }

    #sticky_MDPU {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 5%;
    }
    #sticky_MDPU div {
        flex-direction: column;
        align-items: flex-start;
    }
    #sticky_MDPU h4 {
        font-size: 0.85em;
    }
    #UserIcon {
        height: 25px;
        width: 25px;
    }
    #UserWidget {
        margin-right: 0.5em;
    }
    #SPM_Row {
        margin: 1em 4% 0;
    }
    #Delivery_Input_Div {
        margin: 0 4% 5%;
    }
    .popupSignature {
        margin: 5% 10% 0;
    }
    .popupLogin {
        margin: 20% auto;
        width: 25%;
    }
    #widgetHeader {
        margin: 4% 20% 0;
    }

    #sigDiv canvas {
        height: 12em;
    }

    #collapseToggle {
        width: 8%;
        left: 46%;
    }
    
    #collapseToggle img {
        width: 25%;
    }

    .mdpu-subheader-div h4 {
        font-size: small;
    }
}

@media only screen and (min-width: 1200px) {        
    .title_row th {
        padding: 1% 0;
    }

    .popupLogout Button {
        width: 50%;
        align-self: center;
    }

    label {
        font-size: 0.8em;
    }
    
    thead {
        font-size: 0.75em;
    }
    tbody {
        font-size: 0.75em;
    }

    .popupSignature {
        margin: 15% 3% 0;
    }

    .popupLogin {
        margin: 18% auto;
        
        width: 25%;
    }

    #widgetHeader {
        margin: 5% 20% 0 20%;
    }

    #collapseToggle {
        width: 6%;
        left: 47%;
    }
    
    #collapseToggle img {
        width: 25%;
    }

    .thumbnail:hover {
        opacity: 50%;
        background-color: rgb(51, 51, 51);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    }

    #footer_text {
        margin-block: 1%;
    }

    #SPM_Row {
        margin: 1em 10% 0;
    }
    #Delivery_Input_Div {
        margin: 0 10% 5%;
    }
}

@media only screen and (min-width: 1600px) {        
    .popupLogin {
        margin: 20% auto;
        width: 25%;
        gap: 2%;
    }
}

@media only screen and (max-width:400px) {
    #sticky_MDPU {
        text-wrap: wrap;
    }
    
    #sticky_MDPU h4 {
        font-size: 0.675em;
    }

    #sticky_creds {
        width: auto;
    }

    #UserWidget p {
        font-size: 0.75em;
    }

    #Logout button {
        height: auto;
    }

    #img_Div {
        flex-direction: column;
        text-align: left;
    }
}
